
.mainBox {
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}




html, body {
  margin: 0;
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  margin: 0;
  display: table-cell;
  vertical-align: middle;

  background-color: #f9f9f9;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
} 